@import "../../../scss/index.scss";

.publication {
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  .publication__img{
    // border: 1px solid red;
    width: 100%;
  }
}
