@import "../../scss/index.scss";

.header {
  position: relative;
  background-color: $background-light;
  border-bottom: 1px solid $border-grey;
  padding: 12px 0;
  z-index: 1;

  &__logo {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    img {
      height: 25px;
    }
  }
}
