//FONT
$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

//BACKgrounds
$background-light: #fff;
$background-grey-light: #fafafa;

//Borders
$border-grey: #dbdbdb;
$border-dark: #000;

//pricipales
$action: #0095f6;
$danger: #ed4956;
